nav {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  .navbar {
    .navstyle();
    flex-direction: column;
    align-items: center;
    h1 {
      padding: 1%;
    }
    .navItems {
      .navstyle();
      justify-content: space-between;
      width: 50%;

      @media @phone {
        width: 80%;
      }
      a {
        .linkstyle();
      }
    }
  }
}
